<h3>Welcome to unofficial myBSN API. Head over to this <a href="https://github.com/irfan-zahir/mybsn-scrap ">project repository</a> to contribute!</h3>

<br>

<h3 style="display: flex; gap: 10px;">
    <div>author:</div> 
    <div style="display: flex; gap: 10px;">
        Irfan Zahir
        
        (<a target="_blank" href="https://github.com/irfan-zahir">github</a>
        <a target="_blank" href="https://t.me/irfanzahir">telegram</a>)
    </div>

</h3>